.container_homescn1 {
    background-color: #000000;
    /* padding: 50px 0; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 90vh;
    border-block-end: 4px dashed red;
}



.text_homescn1 {
    padding: 20px;
    padding-top: 20vh;

}

.content_homescn1 {
    text-align: center;
}

.heading_homescn1 {
    font-size: 52px;
    margin-bottom: 10px;
    color: #F9EF23;
    max-width: 700px;
    font-family: cursive;
    
}

.sub-heading_homescn1 {
    font-size: 18px;
    margin-bottom: 40px;
    color: white;
    font-style: italic;
    font-family: fangsong;
}

.input-group_homescn1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field_homescn1 {
    min-width: 500px;
    height: auto;
    /* padding: 5px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 15px; */
    margin-right: 10px;
    font-size: x-large;
    padding: 10px;
    border: 4px dashed deeppink;
}




.convert-button_homescn1 {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    font-size: 20px;
    width: 100px;
    margin-bottom: 30px;

}



.convert-button_homescn1:hover {
    background-color: #0056b3;
}

.image_homescn1 {
    width: 60%;
    height: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
