.my_apps_image{
    border-radius: 10px;
    margin-left: 15px;
}

.pro-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ffcc00; /* Yellow background color, you can change it */
    color: #333; /* Text color */
    font-weight: bold;
    border-radius: 5px;
  }
  